<div>
<h3><a href="#/home">Back</a></h3>

<h2>Add a new customer</h2>

<form ng-submit="addCustomer()">
Customer name: <input type="text" ng-model="newCustomer.name">
<input type="submit" value="Add">
</form>
<br>
<br>

<input type="text" placeholder="Search" ng-model="search">

<table>
	<thead>
		<tr>
			<th>Customer</th>
			<th>Created date</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="customer in customers| filter: search">
			<td>{{customer.name}}</td>
			<td>{{customer.createdAt | date : "MMMM dd yyyy"}}</td>
			<td><button ng-click="removeCustomer(customer._id)">Remove</button></td>
			<td>{{customer._id}}</td>
		</tr>
	</tbody>
</table>


</div>