<h3><a href="#/home">Back</a> |
<a href="#/addProduct">Add a Product</a> |
<a href="#/addCustomer">Add a Customer</a></h3>

<h2>Ready to place an order?</h2>

<form ng-submit="addOrder()">
<h3>Add your order</h3>
<select ng-model="newOrder.customer">
	Select Customer:<option ng-repeat="customer in customers track by $index">{{customer.name}}</option>
</select>

<select ng-model="newOrder.product">
	Select Product:<option ng-repeat="product in products track by $index">
	{{product.name}}</option>
</select>

Quantity: <input type="number" min="1" max="10" ng-model="newOrder.quantity">		

<input type="submit" value="Order">
</form>

<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Product</th>
			<th>Quantity</th>
			<th>Date</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="order in orders">
			<td>{{order.customer}}</td>
			<td>{{order.product}}</td>
			<td>{{order.quantity}}</td>
			<td>{{order.createdAt | date : "MMMM dd yyyy" }}</td>

		</tr>

		<tr ng-repeat="product in products">
			<td>{{product[index]}}</td>
		</tr>
	</tbody>
</table>

